@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Poppins';
    background-color: deepskyblue;
    text-align: justify;
}

h1{
    color: aliceblue;
}

#destaque{
    color: chartreuse;
}

#houver{
    color: aliceblue;
    background-color: #7743DB;
}