
.item1{
    background-color: aqua;
    text-align: justify;
    padding: 20px;
    width: 500px ;
    height:200px ;
}

.item2{
    background-color: rgb(185, 244, 107);
    text-align: justify;
    padding: 20px;
    width: 500px ;
    height:20px ;
}

.item3{
    background-color: rgb(244, 107, 228);
    text-align: justify;
    padding: 20px;
    width: 500px ;
    height:300px ;
}