@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Poppins';
    box-sizing: border-box;
}

.main-form{
    padding-left: 20px;
}

.main-form .main-group{
    padding-bottom: 10px;
}

.main-form .main-group input{
    padding: 10px;
    width: 100%;
}

.main-form .main-group label{
    display: block;
}


.button{
    padding: 15px;
    background-color: blueviolet;
    color: aliceblue;
    border: none;
}

.box{
    width: 80%;
    margin: auto;
}