@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Poppins';
    text-align: justify;
}

#fontFamily{
    font-family: 'Times New Roman', Times, serif;
}

#fontSize{
    font-size: 20px;
}

#fontWeigth{
    font-weight: boldfontWeigth;
}