.azul{
    background-color: blue;
   }
 .vermelho{
    background-color: red;
 }   

 .amarelo{
    background-color: yellow;
 }

 div{
    display: inline-block;
    width: 33%;
    height: 150px;
 }

 .button{
    border: 1px solid red;
 }

a.button{
   display: inline-block;
   margin-top: 100px;
   width: 50%;
   height: 50px;
   text-align: center;
   
 }